@charset "UTF-8";
#power {
   border : solid 0px blue;
   width: 600px;
   margin: 200px auto;
   oveflow: hidden;
}


#power .bottom {
   border-bottom:solid 2px;
   text-align:center;
}

#power div {
   border: solid 1px;
   border:5px;
   vertical-align: middle;   
}

#power .six {
   border-right: solid 2px;
   float:left;
   width: 100px; height:30px;
   padding-bottom:2px;
   text-align:center;
   height: 30px;
}
#power input, #power textarea {
   margin:5px;
}

#power .title {
   text-align:right;
   border: 0px;
}
a { text-decoration:none }
