<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>MVCHomePage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
	<servlet-name>FrontController</servlet-name>  
	<servlet-class>com.java.controller.FrontController</servlet-class>
	<init-param>
		<param-name>configFile</param-name>
		<param-value>/WEB-INF/commandURI.properties</param-value>
	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FrontController</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>DBCPInit</servlet-name>  
	<servlet-class>com.java.database.DBCPInit</servlet-class>
	<init-param>
		<param-name>jdbcDriver</param-name>
		<param-value>oracle.jdbc.driver.OracleDriver</param-value>
	</init-param>
	<load-on-startup>1</load-on-startup> <!-- 서버가 구동되면 1번째로 호출된다. -->
  </servlet>
  
</web-app>